#home-page
  #connect-block
    %div{ data: { 'ng-if' => '!user && wantConnect', 'ng-include' => "'connect_forms/connect.html'" } }
    %div{ data: { 'ng-if' => '!user && !wantConnect', 'ng-include' => "'connect_forms/register.html'" } }

  %a{ data: { 'ui-sref' => 'departments' } }
    EXPLORE
