Connect!

#connect-block
  %div{ data: { 'ng-if' => 'user != null', 'ng-include' => "'sidebar/user.html'" } }
  %div{ data: { 'ng-if' => '!user && wantConnect', 'ng-include' => "'sidebar/connect.html'" } }
  %div{ data: { 'ng-if' => '!user && !wantConnect', 'ng-include' => "'sidebar/register.html'" } }

%a{ data: { 'ui-sref' => 'departments' } }
  EXPLORE
