#loader{ data: { 'ng-if' => 'loading' }}
  %img{ data: { 'ng-src' => '#{asset_path("loader.gif")}'} }
#main-places-block.col-md-12.animate-opacity{ data: { 'ng-if' => '!loading' }}
  .header
    CHOISISSEZ VOTRE TERRAIN
  .col-md-1
  .col-md-10
    .places-block.col-md-4.col-sm-12.col-xs-12{ data: { 'ng-repeat' => 'place in places', 'ui-sref' => 'place({ departmentId: place.department_slug, placeId: place.slug})' } }
      .col-md-12.col-xs-12.place-infos
        %span.place-name
          {{place.name}}
        %br
        %span.place-address
          {{place.address}}
      .col-md-6.col-sm-12.col-xs-12.place-town
        {{place.town}}
      .col-md-6.col-sm-12.col-xs-12.place-participants-count
        %span.glyphicon.glyphicon-user
        {{place.participations_count_today}} aujourd'hui
